<nav-menu></nav-menu>
<div class="container">
    <form [formGroup]="addFeedbackForm">
    <h4>Add Feedback</h4>
    <div class="pull-right cross-icon">
        <span class="btn btn-close"></span>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="" class="form-label">Employees <span class="text-danger">*</span></label>
            <select class="form-control" formControlName="employee_Id" [(ngModel)]="addFeedbackDTO.employee_Id">
                <option [value]="''">Select</option>
                <option *ngFor="let item of employeeList" [value]="item.id">{{ item.full_Name }}</option>
            </select>
            <span class="text-danger" *ngIf="addFeedbackForm.controls['employee_Id'].touched && addFeedbackForm.controls['employee_Id'].errors?.['required']">Please Select Employee</span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="form-group col-md-4">
            <label for="" class="form-label">Category <span class="text-danger">*</span></label>
            <select class="form-control" formControlName="category_Id" [(ngModel)]="addFeedbackDTO.category_Id">
                <option [value]="0">Select</option>
                <option [value]="1">Observation</option>
                <option [value]="2">Feedback</option>
                <option [value]="3">Suggestion</option>
            </select>
            <span class="text-danger" *ngIf="addFeedbackForm.controls['category_Id'].touched && addFeedbackForm.controls['category_Id'].errors?.['required']">Please Select Category</span>
        </div>
        <div class="col-md-4 form-group">
            <label for="" class="form-label">Severity <span class="text-danger">*</span></label>
            <select class="form-control" formControlName="severity_Id" [(ngModel)]="addFeedbackDTO.severity_Id">
                <option [value]="0">Select</option>
                <option [value]="1">Low</option>
                <option [value]="2">High</option>
                <option [value]="3">Critical</option>
            </select>
            <span class="text-danger" *ngIf="addFeedbackForm.controls['severity_Id'].touched && addFeedbackForm.controls['severity_Id'].errors?.['required']">Please Select Severity</span>
        </div>
        <div class="form-group col-md-4">
            <label for="" class="form-label">Visibility</label>
            <div class="p-2">
                <div class="form-check form-check-inline">
                    <input type="radio" [value]="'Employee'" class="form-check-input col-md-1" formControlName="visibility" [(ngModel)]="addFeedbackDTO.visibility">
                    <label class="form-check-label">Employee</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" [value]="'Shared'" class="form-check-input col-md-1 ml-20" formControlName="visibility" [(ngModel)]="addFeedbackDTO.visibility">
                    <label class="form-check-label">Shared</label>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="form-group col-md-4">
            <label for="" class="form-label">Feedback Target</label>
            <div class="p-2">
                <div class="form-check form-check-inline">
                    <input type="radio" [value]="'General'" class="form-check-input col-md-1" formControlName="feedback_Target" [(ngModel)]="addFeedbackDTO.feedback_Target">
                    <label class="form-check-label">General</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" [value]="'Skills'" class="form-check-input col-md-1 ml-20" formControlName="feedback_Target" [(ngModel)]="addFeedbackDTO.feedback_Target">
                    <label class="form-check-label">Skills</label>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="" class="form-label">Your Feedback <span class="text-danger">*</span></label>
            <textarea name="" id="" cols="30" rows="5" class="form-control" formControlName="comments" [(ngModel)]="addFeedbackDTO.comments"></textarea>
            <span class="text-danger" *ngIf="addFeedbackForm.controls['comments'].touched && addFeedbackForm.controls['comments'].errors?.['required']">Please Enter Feedback</span>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="">
            <button type="submit" class="btn btn-primary pull-right" (click)="submit()">Save Feedback</button>
        </div>
    </div>
</form>
</div>
