<nav-menu></nav-menu>
<div class="container">
    <h5>Feedbacks For You</h5>
    <ng-container *ngFor="let item of feedbackListDTO">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ item.user_Name }} sent you a feedback</h5>
          <div class="row">
            <div class="col-md-2">
                <b>Skill: </b>Technical Skills
            </div>
            <div class="col-md-4">
                <b>Sub Skill: </b>Comprehension / Understanding the Problem
            </div>
          </div>
          <p class="card-text">{{ item.comments }}</p>
        </div>
      </div>
      <br>
    </ng-container>
    <!-- <ng-template #noRecord></ng-template> -->
</div>
