/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~ngx-toastr/toastr';
  
  .btn-primary {
    color: #fff;
    background-color: #077bf1;
    border-color: #077bf1;
  }
  
  .pull-right {
    float: right;
  }
  
  .cross-icon {
    margin-top: -30px;;
  }
  
  .ml-20 {
    margin-left: 20px;
  }